header
{
    border-radius: 120px;
    border: 6pt;
    border-style: double;
    border-color: rgb(240, 96, 0);
    margin: 100px 100px 100px 100px;
    padding: 10px;
    font-size: xx-large;
    text-align: center;
}

body
{
    font-size: 14px;
    padding: 10px;
    background-image: url(imagenes/castle.webp);
    background-position: center center;
    background-attachment: fixed;
}

h1
{
    text-align: center;
}

p
{
    font-size: x-large;
    text-align: center;
}

#enlace
{
    text-align: center;
}

#rainbow
{
    background-color: aliceblue;
    border-color: rgb(76, 168, 253);
    color: rgb(221, 20, 104);
    font-size: x-large;
    font-style: oblique;
    border-style: ridge;
    border-radius: 202px;
    padding: 2%;
    text-decoration: none;
}

#harry-broom
{
    text-align: center;
}

#potter-broom
{
    width: 40%;
}

#XD
{
    width: 40%;
}

.oculto
{
    display: none;
}

#btnCambiar
{
    padding: 1%;
}

/* Estilos normales para computadora van aquí arriba */

/* --- Estilos para Celulares --- */
@media (max-width: 768px)
{
body
    {
        font-size: 16px; /* Ajusta el texto para que sea legible */
    }

    /* Si tenías elementos en columnas (uno al lado del otro), 
        aquí puedes hacer que se pongan uno abajo del otro */
    .contenedor-principal
    {
        flex-direction: column; 
        width: 100%; /* Que ocupe todo el ancho de la pantalla */
    }
}